.double-page > div {
    width: 100%;
}

.double-page > div > img {
    width: 100%;
    height: auto;
}

.text-holder > footer {
    margin-top: 2rem;
    border-top: #cccccc .0625rem solid;
}

.text-holder > footer > div {
    margin: 2rem 0 0 2rem ;
}

.text-holder > div > ul > li {
    list-style: disc;
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

form > span {
    margin: 0 0 1rem 0;
}

textarea {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5em;
    outline: none;
    border: #cccccc .0625rem solid;
    border-radius: .25rem;
    padding: .5rem .75rem;
    resize: vertical;
}

input[type="text"] {
    padding: .5rem .75rem;
    outline: none;
    border: #cccccc .0625rem solid;
    border-radius: .25rem;
}

#submit {
    align-self: center;
    background-color: #32b67a;
    border-radius: 3rem;
    border: none;
    color: white;
    font-weight: 400;
    margin: 1rem 0;
    padding: 1rem 2rem;
}

@media screen and (max-width: 600px){
    form {
        justify-content: center;
        flex-direction: column;
    }
    form > span {
        width: 100%;
    }
    form > span > input[type="text"] {
        width: 100%;
    }
}